* {
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "monserrat-semibold";
    src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "monserrat-light";
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "monserrat-extra-light";
    src: url("fonts/Montserrat-ExtraLight.ttf");
}

h3, h1, button {
    font-family: monserrat-semibold;
}

p, label, input {
    font-family: monserrat-light;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(158,248,201);
    background: linear-gradient(135deg, rgba(158,248,201,1) 0%, rgba(36,191,254,1) 50%, rgba(82,55,255,1) 100%);
}

.results-wrap, .questions-wrap {
    /* display: none; */
}

.card-wrap {
    background-color: aliceblue;
    margin-top: 18%;
    margin-top: 100px;
    min-height: 500px;
    max-height: 500px;
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 7px 10px 26px 3px rgba(0,0,0,0.39);
    padding: 20px;
}

.intro-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.top-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-intro h3 {
    margin: 20px 0px;
}

.intro-img-wrap {
    display: flex;
    justify-content: center;
}

.intro-img-wrap img {
    width: 40%;
}

.bottom-intro {
    display: flex;
    
}

.description {
    width: 50%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
}

.description p {
    width: 80%;
    line-height: 20px;
    text-align: justify;
}

.signup-intro {
    width: 50%;
    padding: 0px 10px;
}

.signup-intro h3 {
    margin-bottom: 10px;
}

.signup-intro form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #e45656;
    border: none;
    border-radius: 20px;
    color: white;
    transition: all 0.5s;
    width: 200px;
}

input {
    width: 200px;
    margin: 5px 0px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #c53d3d;
}

.error {
    display: none;
}

.counter {
    font-family: monserrat-extra-light;
}

footer {
    font-family: monserrat-extra-light;
    color: white;
    margin-bottom: 10px;
}

span {
    font-family: monserrat-extra-light;
}

footer a {
    font-family: monserrat-extra-light;
    color: #ececec;
}