* {
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "monserrat-semibold";
    src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "monserrat-light";
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "monserrat-extra-light";
    src: url("fonts/Montserrat-ExtraLight.ttf");
}

h3, h1, button {
    font-family: monserrat-semibold;
}

p, label, input {
    font-family: monserrat-light;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(158,248,201);
    background: linear-gradient(135deg, rgba(158,248,201,1) 0%, rgba(36,191,254,1) 50%, rgba(82,55,255,1) 100%);
}

.card-wrap {
    background-color: aliceblue;
    margin-top: 18%;
    margin-top: 3%;
    /* min-height: 500px;
    max-height: 500px; */
    max-height: fit-content;
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 7px 10px 26px 3px rgba(0,0,0,0.39);
    padding: 20px;
}

.intro-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    justify-content: space-between;
}

.top-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-intro h3 {
    margin: 20px 0px;
    font-family: monserrat-light;
    font-size: 20px;
}

.intro-img-wrap {
    display: flex;
    justify-content: center;
}

.intro-img-wrap img {
    width: 40%;
}

.bottom-intro {
    display: flex;
    margin-top: 20px;
}

.description {
    width: 50%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
}

.description p {
    width: 80%;
    line-height: 20px;
    text-align: justify;
}

.signup-intro {
    width: 50%;
    padding: 0px 10px;
}

.signup-intro h3 {
    margin-bottom: 10px;
}

.signup-intro form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #e45656;
    border: none;
    border-radius: 20px;
    color: white;
    transition: all 0.5s;
    width: 200px;
}

input {
    width: 200px;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
}

input[type="radio"] {
    width: 50%;

}

input[type="radio"]:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: #c53d3d;
}

.answer-block {
    display: flex;
    justify-content: space-between;
    width: 50%;
    transition: all 0.2s;
    padding: 2px;
    margin: 3px 0px;
    border-radius: 3px;
}

.answer-block:hover {
    background-color: #c3f7de;
}

.question-prompt {
    margin-top: 10px;
}

.question-wrap {
    margin: 10px 0px;

}

.counter {
    text-align: right;
}

.error {
    color: #e45656;
    font-family: monserrat-semibold;
}

.counter {
    font-family: monserrat-extra-light;
}

/* results wrap */
.results-wrap {
    flex-direction: column;
    align-items: center;
}

.result-name {
    font-family: monserrat-semibold;
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
    /* do a gradient text */
    background: #9CF7CB;
    background: repeating-linear-gradient(to bottom right, #9CF7CB 0%, #3324a7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#again-btn {
    /* display: none; */
    opacity: 0;
    transition: all 2s;
}

.btn-display {
    opacity: 1;
}

.result-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.result-top h2 {
    margin: 20px 0px;
    font-size: 20px;
    font-family: monserrat-semibold;
}

.img-wrap {
    width: 50%;
}

.img-wrap img {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
}

.again-section {
    margin: 20px 0px;
}

/* footer wrap */
footer {
    font-family: monserrat-extra-light;
    color: white;
    margin-bottom: 10px;
}

span {
    font-family: monserrat-extra-light;
}

footer a {
    font-family: monserrat-extra-light;
    color: #ececec;
}

.results-wrap, .q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10 { 
    display: none;
}

@media (max-width: 800px) {
   
}

@media (max-width: 600px) {
    .answer-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition: all 0.2s;
        padding: 2px;
        margin: 3px 0px;
        border-radius: 3px;
    }
}